    <!-- About Section -->
    <section id="about" class="pad8y contain dark page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">FOSS4G SotM Oceania 2020</h1>
              <h2>About the Conference:</h2>
                <p>The FOSS4G SotM Oceania Conference was planned to be an in-person international conference in Suva, Fiji. Unfortunately, we aren't able to travel to Fiji, so we're having a hybrid event.</p>
                <p>This year's event is a hybrid online/in-person event, with hubs being organised in cities across the region, from Perth in the west to Rarotonga in the east, and many places in between.</p>
                <p>The conference has two components:</p>
                <ul class="front-list">
                  <li>A broadcast of keynote presentations from across the region, bringing the brightest and most thought-provoking ideas to your screen.</li>
                  <li>An in-person hub with presentations by people near you, and the opportunity to gather with uld friends and meet new geospatial practitioners from your area.</li>
                </ul>
  
              <h2>Live Streaming:</h2>
                <p>You can live stream the event by registering for the webinar.</p>
                <br>
                <p>
                  <a href="https://us02web.zoom.us/webinar/register/3016040274206/WN_QTV9JJk5RzOA2uGEJdEMTw" class="front-button">Register Now!</a>
                </p>
              <h2>Conference Content:</h2>
                <img src="/img/bios/Keynotes.png" style="width:auto; height:auto">
                <p>Information about the keynote speakers can be found on the <a href="https://2020.foss4g-oceania.org/programme/">Programme Page.</a></p>
                <p>We wish you a wonderful time.</p>
                <p>FOSS4G SotM Oceania 202 organising team.</p>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
            <p><a href='/hubs/apia/'>Apia, Samoa</a></p>
            <p><a href='/hubs/auckland/'>Auckland, New Zealand</a></p>     
            <p>Bairiki, Kiribati</p>
            <p><a href='https://www.fungis.org/events/foss4g2020/'>Cairns, Australia</a></p>
            <p><a href='/hubs/canberra/'>Canberra, Australia</a></p>
            <p>Christchurch, New Zealand</p>
            <p><a href='/hubs/hobart/'>Hobart, Australia</a></p>
            <p>Majuro, Marshall Islands</p>
            <p><a href='/hubs/melbourne/'>Melbourne, Australia</a></p>
            <p><a href='/hubs/perth/'>Perth, Australia</a></p>
            <p>Rarotonga, Cook Islands</p>
            <p><a href='/hubs/suva/'>Suva, Fiji</a></p>
            <p><a href='/hubs/wellington/'>Wellington, New Zealand</a></p>
        <h3 class="small-title uppercase">When?</h3>
          <p>November <span class="numeral">20, 2020</span><br />
          <span style="display: block; text-indent: -0.8em; padding-left:0.8em">+ Organised Hubs</span></p>
          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <a href="#map"><img src="logos/osm.svg" style="height:85px; margin-top:20px;" /></a>
          </p>
        </div>
      </div>
    </section>
