    <!-- Map Section -->
<section class="map-container">
<div id="map"></div>

</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L.map('map').setView([-18,178], 3);
    L.tileLayer('{{ site.map_tiles.url}}', {
      attribution: '{{ site.map_tiles.attribution }}',
      maxZoom: {{ site.map_tiles.maxZoom}}
    }).addTo(map);
      
      L.marker([-18.142,178.4418], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Suva Hub)</h3>").addTo(map);
      
      L.marker([-13.83333,187.86666], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Apia Hub)</h3>").addTo(map);
      
      L.marker([-41.28664,174.77557], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Wellington Hub)</h3>").addTo(map);
      
      L.marker([-42.87936,147.32941], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Hobard Hub)</h3>").addTo(map);
      
       L.marker([-36.86667,174.76667], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Auckland Hub)</h3>").addTo(map);    
      
      L.marker([-31.95224,115.8614], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Perth Hub)</h3>").addTo(map);  
      
      L.marker([-37.840935,144.946457], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Melbourne Hub)</h3>").addTo(map);  
      
      L.marker([-43.53333,172.63333], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Christchurch Hub)</h3>").addTo(map); 
      
      L.marker([-16.92304,145.76625], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Cairns Hub)</h3>").addTo(map);
      
      L.marker([-35.28346,149.12807], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Canberra Hub)</h3>").addTo(map);
      
       L.marker([-27.467331464,153.02333324], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Brisbane Hub)</h3>").addTo(map);
      
       L.marker([-21.2357745,199.9999595], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Rarotonga Hub)</h3>").addTo(map);
      
          
     
      
    map.scrollWheelZoom.enable();
  }, false);
</script>
