    <!-- Map Section -->
<section class="map-container">
<div id="map"></div>

</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L.map('map').setView([-18,178], 3);
    L.tileLayer('{{ site.map_tiles.url}}', {
      attribution: '{{ site.map_tiles.attribution }}',
      maxZoom: {{ site.map_tiles.maxZoom}}
    }).addTo(map);
      
      L.marker([-18.142,178.4418], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Suva Hub)</h3>").addTo(map);
      
      L.marker([-13.83333,187.86666], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Apia Hub)</h3>").addTo(map);
      
      L.marker([-41.28664,174.77557], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
         iconSize: [20, 20],
          iconAnchor: [10, 20],
          className: "map-icon"
      })}).bindPopup("<h3>(Wellington Hub)</h3>").addTo(map);
      
      
          
     
      
    map.scrollWheelZoom.enable();
  }, false);
</script>
