    <!-- Map Section -->
<section class="map-container">
<div id="map"></div>

</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L.map('map').setView([-18,178], 2);
    L.tileLayer('{{ site.map_tiles.url}}', {
      attribution: '{{ site.map_tiles.attribution }}',
      maxZoom: {{ site.map_tiles.maxZoom}}
    }).addTo(map);

    L.marker([-18.142,178.4418], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 40],
          className: "map-icon"
      })}).bindPopup("<h3>(Fiji Hub)").addTo(map);
      
      L.marker([-13.7583109,-172.1047677], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 40],
          className: "map-icon"
      })}).bindPopup("<h3>(Samoa Hub)</h3>").addTo(map);
      
       L.marker([-27.467331464,153.02333324], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 40],
          className: "map-icon"
      })}).bindPopup("<h3>(Brisbane Hub)</h3>").addTo(map);
      
      L.marker([-31.95224,115.8614], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 40],
          className: "map-icon"
      })}).bindPopup("<h3>(Perth Hub)</h3>").addTo(map);
      
        L.marker([-35.28346,149.12807], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 40],
          className: "map-icon"
      })}).bindPopup("<h3>(Canberra Hub)</h3>").addTo(map);
      
       L.marker([-41.28664,174.77557], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 40],
          className: "map-icon"
      })}).bindPopup("<h3>(Wellington Hub)</h3>").addTo(map);
      
      L.marker([-42.87936,147.32941], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 40],
          className: "map-icon"
      })}).bindPopup("<h3>(Tasmania Hub)</h3>").addTo(map);
      
        L.marker([-21.13938,-175.2018], {icon: L.icon({
          iconUrl: "{{ "/img/logo-footer.svg" | prepend: site.baseurl }}",
          iconSize: [40, 40],
          iconAnchor: [20, 40],
          className: "map-icon"
      })}).bindPopup("<h3>(Tonga Hub)</h3>").addTo(map);

    map.scrollWheelZoom.disable();
  }, false);
</script>
