<section>
    <h2 id="schedule">Schedule</h2>
    <!-- <p>We're working on an exciting program for you — stay tuned for updates.</p> -->
    <!-- <p>Meanwhile, please <a href="https://bit.ly/35nOshH" target="_blank">vote</a> on the great submissions we received, and let us know what you'd like to see!</p> -->

    <table class="scheduleTable">
        <thead>
            <tr>
                <td>Time</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fill-darken0">08:00</td>
                <td rowspan="1" colspan="2">
                    Women's Breakfast
                    <br><span class="speaker">If you identify as a woman, come and join us for an informal breakfast
                        get-together to chat about all things geospatial – e.g. how & why we got into it, and how we
                        navigate the geospatial universe. We’ll meet at 8am sharp, so pop-in after you sort out your
                        registration!</span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">08:15</td>
                <td rowspan="1" colspan="2">
                    Arrival and registration
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">08:50</td>
                <td rowspan="1" colspan="2">
                    Welcome and opening
                    <br><span class="speaker">John Bryant</span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">09:00</td>
                <td rowspan="1" colspan="2">
                    <a href="/programme/">FOSS4G SotM Oceania Programme</a>
                    <br><span class="speaker">Tom MacWright, Grayson Cooke, Lesley Arnold, Nathan Woodrow, Markus
                        Mannheim, and Litea Biukoto</span>
                </td>
                <!-- <td rowspan="1" colspan="2">
                    <a href="#">?? Workshop / Drop-in session ??</a>
                    <br><span class="speaker">TBA</span>
                </td> -->
            </tr>
            <tr>
                <td class="fill-darken0">11:00</td>
                <td colspan="3" class="fill-darken0 scheduleBreak">morning tea</td>
            </tr>
            <tr>
                <td class="fill-darken0">11:20</td>
                <td rowspan="1" colspan="2">
                    <a href="programme/#lightning-talks">Lightning Talks</a>
                    <br><span class="speaker">A series of quick five minute talks from thirteen different presenters on
                        a whole array of different subjects.</span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0" rowspan="2">12:40</td>
                <td colspan="3" class="fill-darken0 scheduleBreak">
                    lunch break
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Birds of a Feather (BoF)
                    <span class="speaker">
                        A Birds of a Feather session is an informal gathering of people around a specific topic. It's up
                        to you what
                        you want to talk about! We'll have a simple signup sheet and a few breakout spaces available for
                        you to gather your flock.
                    </span>
                </td>
            </tr>
            <thead>
                <tr>
                    <td></td>
                    <td width="45%">Track 1</td>
                    <td width="45%">Track 2</td>
                </tr>
            </thead>
            <tr>
                <td class="fill-darken0">13:30</td>
                <td rowspan="1">
                    <a href="programme/#damien-hassan-community-presentation">RetroMaps: Adventures in Time and
                        Space</a>
                    <br><span class="speaker">Damien Hassan</span>
                    </span>
                </td>
                <td rowspan="1">
                    <a href="programme/#gabriel-diosan-community-presentation">A Local Government Journey with QGIS</a>
                    <br><span class="speaker">Gabriel Diosan</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">13:50</td>
                <td rowspan="1">
                    <a href="programme/#ivana-ivánová-community-presentation">UN peacebuilding & peacekeeping is
                        going….OPEN!</a>
                    <br><span class="speaker">Ivana Ivánová</span>
                    </span>
                </td>
                <td rowspan="1">
                    <a href="programme/#norm-santich-community-presentation">Using open source solutions to deliver
                        spatial applications for
                        government</a>
                    <br><span class="speaker">Norm Santich</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">14:10</td>
                <td rowspan="1">
                    <a href="programme/#dan-dixon-community-presentation">Using Satellite and Drone Remote Sensing to
                        monitor Eucalypt Flowering
                        Events</a>
                    <br><span class="speaker">Dan Dixon</span>
                    </span>
                </td>
                <td rowspan="1">
                    <a href="programme/#nimalika-fernando-community-presentation">Let's map indoors: starting indoor
                        mapping with OSM </a>
                    <br><span class="speaker">Nimalika Fernando</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">14:30</td>
                <td rowspan="1">
                    <a href="programme/#jenny-smith-community-presentation">A non-technical tale of Data WA open source
                        discovery</a>
                    <br><span class="speaker">Jenny Smith</span>
                    </span>
                </td>
                <td rowspan="1">
                    <a href="programme/#ross-gillis-community-presentation">Open source remote sensing and dashboarding
                        – surface water monitoring at
                        your fingertips</a>
                    <br><span class="speaker">Ross Gillis</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">14:50</td>
                <td rowspan="1">
                    <a href="programme/#james-spath-community-presentation">All Take, No Give (LGAs - Open Data and
                        FOSS4G)</a>
                    <br><span class="speaker">James Spath</span>
                    </span>
                </td>
                <td rowspan="1">
                    <a href="programme/#john-duncan-community-presentation">Mapping Tongan farms with QField</a>
                    <br><span class="speaker">John Duncan</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">15:10</td>
                <td rowspan="1">
                    <a href="programme/#piers-higgs-community-presentation">How Open Source Created a Company</a>
                    <br><span class="speaker">Piers Higgs</span>
                    </span>
                </td>
                <td rowspan="1">
                    <a href="programme/#edward-keys-community-presentation">QField: Exploration Geology's new
                        'must-have' tool</a>
                    <br><span class="speaker">Edward Keys</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">15:30</td>
                <td colspan="3" class="fill-darken0 scheduleBreak">afternoon tea</td>
            </tr>
            <tr>
                <td class="fill-darken0">15:50</td>
                <td rowspan="1" colspan="2">
                    <a href="programme/#rod-nowrojee-keynote-presentation">Keynote</a>
                    <br><span class="speaker">Rod Nowrojee</span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">16:15</td>
                <td rowspan="1" colspan="2">
                    Wrap up
                    <br><span class="speaker">John Bryant</span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">16:20</td>
                <td rowspan="1" colspan="2">
                    Social event
                    <br><span class="speaker">Join us for an informal social event after the conference closes. Swap
                        stories, make some new friends, and chat about what drives your passion and interest in the
                        world of geospatial.</span>
                </td>
            </tr>
        </tbody>
    </table>

</section>


<section>
    <h2 id="osm_mapping_event">OSM Mapping Party - Saturday, November 21st</h2>

    <p>
        Interested in learning more about OpenStreetMap? Join us for a fun day of mapping after the conference, with a
        mix of field data
        collection and desktop editing using <a href="https://learnosm.org/en/josm/josm-tools/">JOSM</a>. All welcome!
    </p>

    <table class="scheduleTable">
        <thead>
            <tr>
                <td>Time</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fill-darken0">10:30</td>
                <td rowspan="1">
                    Field Mapping
                    <br><span class="speaker">We'll start the day by meeting back at FLUX for welcomes and introductions
                        before heading out to map a forgotten part of Perth.</span>
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">14:00</td>
                <td rowspan="1">
                    Editing OpenStreetMap
                </td>
            </tr>
            <tr>
                <td class="fill-darken0">16:00</td>
                <td rowspan="1">
                    Wrap up
                </td>
            </tr>
        </tbody>
    </table>
</section>