<section class="center page" id="newsletter">
    <div class="limiter">
        <div id="pad4y">
            <form
                action="https://docs.google.com/forms/d/e/1FAIpQLSfZ5t1ka46yqeduet8vn2QZZmQvN06Nsg0Mnrlhr_0u-gFxeQ/viewform"
                method="GET" id="hold-the-date" name="hold-the-date" target="_blank" novalidate>
                <div>
                    <i class="fa fa-2x fa-fw fa-newspaper-o"></i>
                    <h1 style="padding-top: 0px;" id="save_date">Save the date!</h1>
                    <p class="col10 margin1 space-top1 pad4x">
                        Sign up to save the date, tell us what you'd like to see at the conference, and get event
                        updates.
                    </p>
                    <div class="clearfix pad1y space-top2">
                        <fieldset class="clearfix input-pill col6 margin3 margin3r pill with-icon space-bottom2">
                            <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe"
                                class="col10 margin1 space-top1 pad4x button">
                        </fieldset>
                    </div>
                </div>
                <div class="clear"></div>
        </div>
        </form>
    </div>
    </div>
</section>
