<section>
    <h2 id="sponsors_partners">Our sponsors and partners</h2>
    <p>We wouldn't be able to make any of this happen without our wonderful sponsors.</p>
    <a href="/hubs/perth/assets/FOSS4G SotM Oceania 2020 - Perth Hub Sponsorship.pdf">
        <button type="button" class="btn btn-link btn-primary btn-lg btn-block">Become a sponsor →</button>
    </a>

    <h3 class="block-title">Hub Sponsors</h3>
    <div class="logos-wrapper">
        <div class="card border-info mb-3 sponsor-card">
            <div class="card-body">
                <a target="_blank" rel="noopener noreferrer" title="Gaia Resources" href="https://www.gaiaresources.com.au/">
                    <img src="/logos/perth/gaia_logo.png" />
                </a>
            </div>
        </div>

        <div class="card border-info mb-3 sponsor-card">
            <div class="card-body">
                <a target="_blank" rel="noopener noreferrer" title="Landgate - data.wa.gov.au" href="https://data.wa.gov.au/">
                    <img src="/logos/perth/datawa_landgate_logo.png" />
                </a>
            </div>
        </div>
    </div>

    <h3 class="block-title">Conference Host</h3>
    <div class="logos-wrapper">
        <div class="card border-info mb-3 sponsor-card">
            <div class="card-body">
                <a target="_blank" rel="noopener noreferrer" title="FLUX Perth" href="https://www.fluxperth.com/">
                    <img src="/logos/perth/flux_logo.png" />
                </a>
            </div>
        </div>
    </div>

    <h3 class="block-title">Hub Supporter</h3>
    <div class="logos-wrapper">
        <div class="card border-info mb-3 sponsor-card">
            <div class="card-body">
                <a target="_blank" rel="noopener noreferrer" title="Hydrobiology" href="https://hydrobiology.com/">
                    <img src="/logos/perth/hydrobiology_logo.png" />
                </a>
            </div>
        </div>
    </div>

    <h3 class="block-title">Lanyard Sponsor</h3>
    <div class="logos-wrapper">
        <div class="card border-info mb-3 sponsor-card">
            <div class="card-body">
                <a target="_blank" rel="noopener noreferrer" title="Curtin" href="https://www.fluxperth.com/">
                    <img src="/logos/perth/curtin_logo.jpg" />
                </a>
            </div>
        </div>
    </div>

    <h3 class="block-title">In-kind Sponsors</h3>
    <div class="logos-wrapper">
        <div class="card border-info mb-3 sponsor-card">
            <div class="card-body">
                <a target="_blank" rel="noopener noreferrer" title="Mammoth" href="https://www.mammothgeospatial.com/">
                    <img src="/logos/perth/mammoth_logo.png" />
                </a>
            </div>
        </div>
        <div class="card border-info mb-3 sponsor-card">
            <div class="card-body">
                <a target="_blank" rel="noopener noreferrer" title="CAUL Hub" href="https://nespurban.edu.au/">
                    <img src="/logos/perth/caul_hub_logo.jpg" />
                </a>
            </div>
        </div>
    </div>
</section>
